<!-- Categories Jumbotron
================================================== -->
</div>

<div class="jumbotron frontpage-intro">
  <img src="/images/frontpage/wald.jpg" />
  <img src="/images/frontpage/see.jpg" />
  <img src="/images/frontpage/ziegen.jpg" />
  <img src="/images/frontpage/gelbe-rutsche.jpg" />
  <img src="/images/frontpage/kettlerhof-steine.jpg" />
  <img src="/images/frontpage/kettlerhof-kettcars.jpg" />
  <img src="/images/frontpage/sommerrodel-ausschnitt.jpg" />
  <img src="/images/frontpage/ziege-kinder.jpg" />
</div>
<div class="jumbotron frontpage-caption">
	<div class="d-md-flex">
		<div class="col-md-12 transpsdark align-self-center text-center">

    <b>  Du suchst Inspiration für den nächsten Wochenend-Ausflug mit der Familie? </b> We've got you covered! Auf dieser Seite gibt's Tipps für Ausflugsziele, die man gut aus dem Münsterland und speziell aus Münster als Tagestrip erreichen kann. Mit Fahrrad, Auto oder Bahn. Viel Spaß beim Stöbern! <a href="/tags/">Im Bereich "Kategorien" finden sich die Unternehmungs-Ideen nach Themen sortiert</a>.

		</div>
	</div>
</div>

<div class="container">