.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.error{
    text-align: center !important;
}


.tags a:hover, #tag-cloud a:hover {
    color:#007b4b;
    background-color: #9f9!important;
}
.tags a, #tag-cloud a {
    background-color: #afa;
    border-radius: 10px;
    padding: 2px 11px;
    border: 5px solid;
    text-transform: capitalize;
    color: #00ab6b;
    white-space: nowrap;
    display: inline-block;
    margin: 2px 0;
}
.mainheading h1.sitetitle,
h2, h1 {
    font-family: 'Leckerli One', cursive;
    font-weight: 500!important;
}
nav, footer {
    background: rgba(0, 0, 0, 0) url(/images/bg-pentagon.png) repeat scroll 0% 0%;
}
body {
    background: rgba(0, 0, 0, 0) url(/images/bg-stripes-light.png) repeat scroll 0% 0%;
}

.jumbotron.frontpage-intro {
    /*background-image: url(/images/sommerrodel-ausschnitt.jpg);
    background-position: center top;
    background-size: 100% auto;
    */
    background-color:rgba(0,0,0,.7);
    margin-bottom:0;
    padding:20pt 0 0 0;
    margin-bottom:0;text-align:center;
    max-height:200px;
    overflow:hidden;
    white-space: nowrap;
    border-radius:0;
    opacity:0.8;

}
.jumbotron.frontpage-caption {
    background-color:rgba(0,0,0,.7);;
    padding: 20pt;
    color:white;
    opacity:0.8;
    border-radius:0;
    margin-bottom:30pt;
}
.jumbotron.frontpage-intro img {
    height:200px;
    display: inline;
    vertical-align: top;
    float: none;
}